//主题色配置项目
//-主题主色调
$theme_color = #4682B4
//-主题部分时间展示主色调
$theme_color_time = #f8e6d8
//-主题部分阴影主色调
$theme_color_shadow = #4682B4;

//主要插件配置项目
//-播放器背景图
$bg_aplayer = "https://cdn.jsdelivr.net/gh/tangyuxian/blog_image@master/background/chichi.jpg"

